body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
  color: indigo;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid indigo;
  box-shadow: 0 1px 0 0 indigo;
}